<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    external css-->
    <link rel="stylesheet" th:href="@{/css/styleMe.css}"/>
    <title>EMS</title>
</head>

<body>

<div th:id="topnav">
    <a th:href="@{/employees}">Employees</a>
    <a th:href="@{/projects}">Projects</a>
    <a th:href="@{/tasks}">Tasks</a>
    <a th:href="@{/operations}">Operations</a>
    <a th:href="@{/home}" style="float:right" > <img th:src="@{/img/home.png}" height="50px" /></a>
</div>


<div class="container m-5 pb-5">
    <div class="no-border">
    <table >
        <tr>
            <td> <h1><font color="Red">Employee Information</font></h1></td>
            <td><button type="button" class="btn btn-info btn-lg" style="float: right;" data-toggle="modal" data-target="#myModal">Add Employee</button></td>
        </tr>
    </table>
    </div>
    <div class="jumbotron" >

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Create Employee</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body modal-footer">
                        <form th:action="@{/ems/employee}" method="post">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Employee name..">

                            <label for="email">E-mail</label>
                            <input type="text" id="email" name="email" placeholder="Employee e-mail..">

                            <label for="designation">Designation</label>
                            <input type="text" id="designation" name="desig" placeholder="Employee designation..">

                            <button class="btn btn-success" type="submit" value="Submit">Create</button>
                        </form>
                    </div>

<!--                    &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>-->
<!--                    </div>-->

                </div>
            </div>
        </div>

<div th:unless="${error==null}">
    <table class="table-bordered">
        <thead>
        <tr>
        <td>Status code</td>
        <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr  class="danger">
            <td><span th:text="${error.statusCode}"></span></td>
            <td><span th:text="${error.body}"></span></td>
        </tr>
        </tbody>
    </table>


</div>

<div th:if="${error==null}">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Designation</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${Employees}">
            <td><span th:text="${emp.eid}"></span></td>
            <td><span th:text="${emp.name}"></span></td>
            <td><span th:text="${emp.email}"></span></td>
            <td><span th:text="${emp.desig}"></span></td>
            <td><a th:href="@{/employee/project/view/{eid}(eid=${emp.eid})}">Project</a></td>
        </tr>
        </tbody>
    </table>

    <div class="viewmodal" id="viewModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">More Info</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body modal-footer">

                    </form>
                </div>

                <!--                    &lt;!&ndash; Modal footer &ndash;&gt;-->
                <!--                    <div class="modal-footer">-->
                <!--                        <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>-->
                <!--                    </div>-->

            </div>
        </div>
    </div>
</div>

</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>