<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    external css-->
    <link rel="stylesheet" th:href="@{/css/styleMe.css}">
    <title>EMS</title>
</head>
<body background="bg.jpg">

<div th:id="topnav">
    <a th:href="@{/employees}">Employees</a>
    <a th:href="@{/projects}">Projects</a>
    <a th:href="@{/tasks}">Tasks</a>
    <a th:href="@{/operations}">Operations</a>
    <a th:href="@{/home}" style="float:right" > <img th:src="@{/img/home.png}" height="50px" /></a>
</div>
<div class="container m-5 pb-5">

    <div class="no-border">
        <table>
            <tr>
                <td><h1><font color="Red">Project Information</font></h1></td>
                <td>
                    <button type="button" class="btn btn-info btn-lg" style="float: right;" data-toggle="modal"
                            data-target="#myModal">Add Project</button></td>
                </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="jumbotron">


        <div th:if="${error==null}">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Task name</td>
                    <th>More</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task: ${tasks}">
                    <td><span th:text="${task.tid}"></span></td>
                    <td><span th:text="${task.tname}"></span></td>
                    <td><a href="#view">view</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>