body{
   background-image: url("/img/bg.jpg");



  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-image: url("/img/img2.jpg");
  background-size: cover;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  font-size:20px;
  padding: 12px 20px;
  margin: 8px 0;


}

h1{
    font-weight: bold;
}

table, td, th {

}

table {
  border-collapse: collapse;
  width: 100%;
  text-align:center;
}



#topnav {

  overflow: hidden;
  background-color: #DD1E1E;
  border-radius: 5px 20px 5px;
  margin: 20px;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}


